.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 10%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>img {
  transition: transform var(--TRANTIME);
}

.logo>img:hover {
  transform: scale(var(--LTRANSCALE));
}

img {
  height: 20vh;
}

.tools {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  gap: 2vh 2%;
}

.info {
  display: flex;
  align-items: center;
  color: var(--FONTCOLOR);
  width: 90%;
  border-bottom: solid 0.1vh var(--ACCENT);
  transition: all var(--TRANTIME);
}

.info:hover {
  letter-spacing: 0.1vh;
}




.toollink {
  --ANIMTRANTIME: 2s;

  background-color: var(--COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3vh;
  width: 32%;
  aspect-ratio: 1.2;
  text-decoration: none;
  border-radius: 0.9vh;
  cursor: pointer;
  color: var(--FONTCOLOR);
  transition: transform var(--TRANTIME);
}



svg {
  font-size: 8vh;
  transition: font-size 0.3s;
}

p {
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s;
}

.toollink:not(.anim):hover {
  transform: scale(var(--LTRANSCALE));
}

.toollink:not(.anim):active {
  transform: scale(var(--TRANSCALE));
}


.toollink:not(.anim):hover>svg {
  font-size: 9vh;
}

.toollink:not(.anim):hover>p {
  transform: translateY(2vh);
}